# Ignore ~ backup files from editors that create them
*~

# Ignore compiled Python code
*.pyc

# Ignore pycache
**/__pycache__

# Ignore log files
*.log

# Ignore .nfs files
.nfs*

# Ignore .bak files
*.bak

# Ignore output files from MAMA
*.res
*.hrm
*.coef

